$baseline: 20px;

nav.site-navigator {
  background-color: #fff;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 4rem;
  overflow: hidden;
  transition: width 500ms cubic-bezier(.41,.23,.27,1);

  &:hover {
    width: 32rem;
  }

  .logo {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    width: 4rem;
    display: block;

    img {
      max-width: 100%;
      width: 100%;
      height: auto;
    }
  }

  ul {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    font-weight: 100;

    li {
      padding: 0;
      margin: 0;
      
      > ul {
        flex-direction: column;
        position: absolute;
        left: 18rem;
        top: 0;
        width: 18rem;
        background-color: rgba(#333, .6);
        display: none;
      }

      &:hover {
        span {
          color: #c82222;
          background-color: #aaa; 
        }
        > ul {
          display: block;
        }
      }

      a,
      span {
        padding: 0 .6rem;
        line-height: 1.3;
        display: block;
        color: #333;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: bold;
        font-family: 'Share Tech Mono', 'Consolas', monospace;
        font-size: 1.98rem;
        transition: all 150ms linear;

        &:hover {
          color: #c82222;
          background-color: #fff; 
        }
      }

      span {
        padding-right: 1.2rem;

        &::after {
          content: ' >';
          position: absolute;
          top: -5px;
          right: 5px;
        }
      }
    }
  }
}
